<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>文章</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<%= link_to "新建", new_post_path %>
